/*******************************
            Global
*******************************/
:root {
  --lightgrey: #555;
  --mint: #d8eee2;
  --ctagreen: #339366;
}
html,
body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', Times New Roman, serif;
}

.button {
  background-color: #4daf7c;
  color: white;
  border: none;
  border-radius: 0.25rem;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 1rem;
  height: 48px;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  width: 154px;
}

.container {
  width: 1127px;
}

/*******************************
              Page
*******************************/

.hero {
  box-sizing: border-box;
  display: block;
  background-color: var(--mint);
  padding: 117px 0 90px 0;

  .container {
    display: flex;
    flex-direction: column;
    .text,
    .image {
      flex: 1;
    }
    .logo {
      position: absolute;
      top: 3rem;
    }
    .text {
      padding-right: 177px;
      padding-bottom: 5rem;

      h1 {
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 41px;
      }
      p {
        color: var(--lightgrey);
        font-size: 19px;
        font-weight: lighter;
        line-height: 32px;
        margin-bottom: 26px;
      }
    }
    .image {
      display: flex;
      justify-content: center;
      img {
        height: auto;
        width: auto;
      }
    }
  }
}
.page {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 25px 57px;
    padding: 111px 0 148px;

    .card {
      box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.07);
      .logobox {
        background-color: #333;
        display: flex;
        height: 220px;
        justify-content: center;
        align-items: center;
        img {
          height: 72px;
          width: 80px;
        }
      }
      .textbox {
        padding: 35px;
        h3,
        p {
          font-family: 'Lato', Arial, sans-serif;
        }
        h3 {
          margin: 0 0 15px 0;
        }
        p {
          color: var(--lightgrey);
          font-size: 18px;
          line-height: 24px;
          font-weight: lighter;
          margin: 0;
        }
      }
    }
  }
}

.cta {
  .container {
    display: flex;
    flex-direction: column;
    .textbox {
      justify-content: space-around;
      text-align: center;
      display: flex;
      flex-direction: row;
      p {
        width: 300px;
        color: var(--lightgrey);
        font-size: 26px;
        font-weight: normal;
        margin: 0;
        span {
          color: var(--ctagreen);
        }
      }
    }
    .hillbox {
      display: flex;
      justify-content: center;
      img {
        max-width: 100%;
      }
    }
  }
}

.footer {
  background-color: #191a1d;
  color: #646464;
  font-size: 11px;
  padding: 20px;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    .logo {
      height: 20px;
      padding-right: 12px;
    }
  }
}

/*******************************
         Responsive
*******************************/

/* I hope you'll forgive me for switching up the responsive paradigm here, */
/* but I find mobile-first to be much more convenient.

/* Tablet */
@media only screen and (min-width: 767px) {
  .container {
    width: 100%;
  }
}

/* Small Monitor */
@media screen and (min-width: 768px) {
  .container {
    width: 723px;
  }
  .hero {
    .container {
      .text {
        padding-right: 1rem;
      }
    }
  }
  .page {
    .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 67px 57px;
    }
  }
}

/* Medium Monitor */
@media only screen and (min-width: 1025px) {
  .container {
    width: 933px;
  }
  .hero {
    .container {
      .text {
        padding-right: 177px;
      }
    }
  }
}

/* Large Monitor */
@media only screen and (min-width: 1199px) {
  .container {
    width: 1127px;
  }
  .hero {
    .container {
      flex-direction: row;
    }
  }
  .page {
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 75px 57px;
    }
  }
}
